<a href="https://colab.research.google.com/github/Jave-dAli/BeautifulProjects/blob/main/lec2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
text = ['one', 'two']

<class 'dict'>

In [16]:
def fun():
  set1 = {1, 2, 3, 4, 5}
  list_to_add = [6, 7, 8, 9, 10]
  set1.update(list_to_add)
  print(set1)


fun()

5
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**Tasks**

---

In [ ]:
# 9.	Write a program to print the first 10 natural numbers.
def print_nat(n):
  for i in range(1, n+1):
    print(i)

# 10.	Write a program to calculate the sum of numbers from 1 to n, where n is entered by the user.
def sum_uptop_n(n):
  sum = 0
  for i in range(1, n+1):
    sum += i
  return sum

# 11.	Write a program to display the multiplication table of a number entered by the user.
def table(n):
  for i in range(1, 11):
    print("{} x {} = {}".format(n, i, n*i))

In [23]:
students = {
    "Javed": 85,
    "Sheeraz": 92,
    "Aftab": 78,
    "Hassan Raza": 88,
    "Ismail": 95
}


print(students)


for key, value in students.items():
  print(f"Name: {key}, Marks: {value}")

{'Javed': 85, 'Sheeraz': 92, 'Aftab': 78, 'Hassan Raza': 88, 'Ismail': 95}
Name: Javed, Marks: 85
Name: Sheeraz, Marks: 92
Name: Aftab, Marks: 78
Name: Hassan Raza, Marks: 88
Name: Ismail, Marks: 95